<h1>PAYMENT REQUESTS</h1>
<div class="patientTable">
    <table>
        <tbody>
            <tr>
                <th>S.No</th>
                <th>Patient ID</th>
                <th>Doctor Name</th>
                <th>Consultant Fee</th>
                <th>Status</th>
                <th>Generate Receipt and Upload</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Rasool</td>
                <td>Akansha Rathi</td>
                <td>600.00</td>
                <td>Verified</td>
                <td>Done</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="verifiedBtn">
    <button type="submit">VERIFY ALL REQUEST GENERATE RECEIPT AND UPLOAD</button>
</div>
