<!-- <div class="pagination">
    <button (click)="prevPage()">Previous</button>
    <span>{{currentPage}} / {{totalPages}}</span>
    <button (click)="nextPage()">Next</button>
</div> -->
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" (click)="prevPage()">Previous</a></li>
      <li class="page-item" *ngFor="let page of pages" [ngClass]="{'active':page==currentPage}" (click)="pageClicked(page)" ><a class="page-link" >{{page}}</a></li>
      <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
    </ul>
  </nav>