.outer{   
    padding: 10px;   
}
h1{
    text-align: center;
}
.tableHead{
    width: 60%;
    margin-left: 300px;
}
table{
    margin-top: 10px;
     width: 95%;
    
 }
 table th,td{
    padding: 5px;
    text-align: center;
    border: 1px solid #000;
}
.input-group{
    height: 40px;
    width: 90%;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}
.input-group span {
    padding: 10px;
}
.input-group input{
   border: 0;
 
}
.pagination{
    position: relative;
    margin-top: 10px;
    margin-left: 400px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}