<!-- 
<div class="appointnetDetails">
    <div class="row">
        <div class="col-auto">
            <label><b>Select Department</b></label>
        </div>
        <div class="col-auto"><b>:</b></div>
        <div class="col-auto">
            <div class="dropdown">
              <select name="cars" id="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <label><b>Select Doctor Name<span>*</span></b></label>
        </div>
        <div class="col-auto"><b>:</b></div>
        <div class="col-auto">
            <div class="dropdown">
              <select name="cars" id="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <label><b>Consultant Fee </b></label>
        </div>
        <div class="col-auto"><b>:</b></div>
        <div class="col-auto">
            <input type="text" class="form-control" >
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <label><b>Date<span>*</span></b></label>
        </div>
        <div class="col-auto"><b>:</b></div>
        <div class="col-auto">
            <div class="dropdown">
              <select name="cars" id="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <label><b>Time<span>*</span></b></label>
        </div>
        <div class="col-auto"><b>:</b></div>
        <div class="col-auto">
            <div class="dropdown">
              <select name="cars" id="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
              </div>
        </div>
    </div>
  </div>
  <div class="appointBookEdit">
    <button type="button" (click)="navigatePayment()" class="btn btn-primary">Book Appointment</button>
    <button type="button" class="btn btn-primary">Edit Appointment</button>
  </div> -->
<div class="outer">
  <div class="header">
    <h1><b>Book Appointment</b></h1>
  </div>
  <form class="border p-2 rounded-3 mt-3 mb-5" [formGroup]="appointmentForm"(ngSubmit)=saveAppoint() >
    <div class="row">
      <div class="col-3 mb-2 mt-2">
        <label for="specialization" class="form-label"><b>Department</b></label>
      </div>
      <div class="col-8 mb-2 mt-2">
        <select formControlName="specialization" class="form-control" (change)="onDepartmentSelected($event)" >
            <option value="">--Select Department--</option>
            <option *ngFor="let dept of departments" [value]="dept.deptName"  >{{dept.deptName}}</option>
        </select>
    </div>
    </div>
    <div class="row">
      <div class="col-3 mb-2 mt-2">
        <label for="doctorName" class="form-label"><b>Doctor Name</b></label>
      </div>
      <div class="col-8 mb-2 mt-2">
        <select formControlName="doctorName" class="form-control"  >
            <option >--Select Doctor--</option>
            <option *ngFor="let doct of doctorList" >{{doct.doctName}}</option>
        </select>
    </div>
    </div>
    <div class="row">
      <div class="col-3 mb-2 mt-2">
        <label for="doctorName" class="form-label"><b>Consultant Fee</b></label>
      </div>
      <div class="col-8 mb-2 mt-2">
       <input type="text" formControlName="consultantFee"  class="form-control" [value]="consultantFeeValue" [readonly]="true">
    </div>
    </div>
    <div class="row">
      <div class="col-3 mb-2 mt-2">
          <label for="date" class="form-label"><b>Date</b></label>
      </div>
      <div class="col-8 mb-2">
          <input type="date"formControlName="date" class="form-control">
      </div>
  </div>
  <div class="row">
    <div class="col-3 mb-2 mt-2">
      <label for="time" class="form-label"><b>Time</b></label>
    </div>
    <div class="col-8 mb-2 mt-2">
      <select formControlName="time" class="form-control"  >
          <option >--Select Time--</option>
          <option value="10:00-12:00 AM" >10:00-12:00 AM</option>
          <option value="2:00-5:00 PM" >2:00-5:00 PM</option>
          <option value="7:00-9:00 PM" >7:00-9:00 PM</option>
        
      </select>
  </div>
  </div>
  <div class="row">
    <div class="col-3 offset-4 mt-1">
        <button type="submit"  class="btn btn-primary">Book Appointment</button>
    </div>
    <div class="col-3 mb-2 mt-1">
        <button type="button" class="btn btn-secondary" (click)="cancleApp()" >CANCLE</button>
    </div>
</div>
  </form>
</div>
<!-- consultantFee
: 
""
date
: 
"2024-03-29"
doctorName
: 
"asdf"
pId
: 
null
specialization
: 
"Cancer"
time
: 
"10:00-12:00 AM" -->