<div class="outer">
  <div class="header">
    <h1><b>Book Appointment</b></h1>
  </div>
  <form class="border p-2 rounded-3 mt-3 mb-5" [formGroup]="appointmentForm" (ngSubmit)=saveAppoint() >
    <div class="row">
      <div class="col-3 mb-2 mt-2">
        <label for="specialization" class="form-label"><b>Department</b></label>
      </div>
      <div class="col-8 mb-2 mt-2">
        <select formControlName="specialization" class="form-control" (change)="onDepartmentSelected($event)" >
            <option value="">--Select Department--</option>
            <option *ngFor="let dept of departments" [value]="dept.deptName"  >{{dept.deptName}}</option>
        </select>
    </div>
    </div>
    <div class="row">
      <div class="col-3 mb-2 mt-2">
        <label for="doctorName" class="form-label"><b>Doctor Name</b></label>
      </div>
      <div class="col-8 mb-2 mt-2">
        <select formControlName="doctorName" class="form-control"  >
            <option >--Select Doctor--</option>
            <option *ngFor="let doct of doctorList" >{{doct.doctName}}</option>
        </select>
    </div>
    </div>
    <div class="row">
      <div class="col-3 mb-2 mt-2">
        <label for="doctorName" class="form-label"><b>Consultant Fee</b></label>
      </div>
      <div class="col-8 mb-2 mt-2">
       <input type="text" formControlName="consultantFee"  class="form-control" [value]="consultantFeeValue" [readonly]="true">
    </div>
    </div>
    <div class="row">
      <div class="col-3 mb-2 mt-2">
          <label for="date" class="form-label"><b>Date</b></label>
      </div>
      <div class="col-8 mb-2">
          <input type="date"formControlName="date" class="form-control">
      </div>
  </div>
  <div class="row">
    <div class="col-3 mb-2 mt-2">
      <label for="time" class="form-label"><b>Time</b></label>
    </div>
    <div class="col-8 mb-2 mt-2">
      <select formControlName="time" class="form-control"  >
          <option >--Select Time--</option>
          <option value="10:00-12:00 AM" >10:00-12:00 AM</option>
          <option value="2:00-5:00 PM" >2:00-5:00 PM</option>
          <option value="7:00-9:00 PM" >7:00-9:00 PM</option>
        
      </select>
  </div>
  </div>
  <div class="row">
    <div class="col-3 offset-4 mt-1">
        <button type="button"  class="btn btn-primary" (click)="openPayment()">Book Appointment</button>
    </div>
    <div class="col-3 mb-2 mt-1">
        <button type="button" class="btn btn-secondary" (click)="cancleApp()" >CANCEL</button>
    </div>
</div>
  </form>
</div>
<div class="form-wrapper" *ngIf="showForm">
  <div class="payment-form">
    <h1>Confirm the Appointment and Pay Amount</h1>
    <div class="detailsApp">
      <form [formGroup]="appointmentForm" (ngSubmit)=saveAppoint()>
      <div class="row">
       <div class="col-6">
         <label  class="form-label"><b>Department Name:</b></label>
       </div>
       <div class="col-6">
       {{confimAppDetails.specialization}}
       </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label  class="form-label"><b>Doctor Name:</b></label>
        </div>
        <div class="col-6">
        {{confimAppDetails.doctorName}}
        </div>
       </div>
       <div class="row">
        <div class="col-6">
          <label  class="form-label"><b>Consultant Fee:</b></label>
        </div>
        <div class="col-6">
        {{confimAppDetails.consultantFee}}
        </div>
       </div>
       <div class="row">
        <div class="col-6">
          <label  class="form-label"><b>Date:</b></label>
        </div>
        <div class="col-6">
        {{confimAppDetails.date}}
        </div>
       </div>
       <div class="row">
        <div class="col-6">
          <label  class="form-label"><b>Time:</b></label>
        </div>
        <div class="col-6">
        {{confimAppDetails.time}}
        </div>
       </div>
       <div class="row">
        <div class="col-6 mb-2">
          <label  class="form-label"><b>SELECT PAYMENT METHOD:</b></label>
        </div>
        <div class="col-6 mb-2">
          <select  formControlName="paymentMethod" class="form-control"  >
            <option >--Select METHOD--</option>
            <option value="phonepe" >PHONE PE</option>
            <option value="paytm" >PAY TM</option>
            <option value="cash" >CASH</option>          
        </select>
        </div>
       </div>
       <div class="row">
        <div class="col-6 mb-2">
          <label  class="form-label"><b>Enter Mobile No:</b></label>
        </div>
        <div class="col-6 mb-2">
          <input type="text" formControlName="mobileNo" class="form-control">
        </div>
       </div>
       <div class="row">
        <div class="col-5">
          <button type="submit"  class="btn btn-primary">Confirm Appointment</button>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-secondary" (click)="cancleApp()" >CANCEL</button>
        </div>
       </div>
      </form>
     </div>
  </div>
 
</div>

<!-- consultantFee
: 
580
date
: 
""
doctorName
: 
"--Select Doctor--"
pId
: 
"25"
specialization
: 
"UROLOGY"
time
: 
"" -->