/* 
.appointnetDetails{
    position: relative;   
    margin-top: 50px;
    width:900px;
    margin-left: 80px;
  
 }
 .row{
    margin-top: 10px;
 }
 .row label{
    margin-top: 5px;
    width:200px;
 }

 .row select{
    width: 400px;
    height: 30px;
 }
 .row input{
    width:400px;
 }
 .appointBookEdit{
    display: flex;
    position: relative;
    margin-top:80px;
    margin-left: 200px;
    column-gap: 50px;
 }
 .appointBookEdit button{
    width: 300px;
 } */
 .outer{
   padding: 10px;
 }
 .header h1{
   text-align: center; 
}
form{   
   width: 60%;
   align-items: center;
   margin-left: 200px;
}