
<h1>CANCLE APPOINTMENT</h1>
<div class="editSchedule">
    <div class="heading">
        <h2>Do You Want To Edit Schedule ? </h2>
    </div>
    <div class="yesOrNoBtns">
        <button type="button" class="btn btn-primary">YES</button>
        <button type="button" class="btn btn-primary">NO</button>
    </div>
</div>
<div class="paymentMethod">
    <div class="card">
        <div class="row">
            <div class="col-auto">
                <label><b>SELECT METHOD</b></label>
            </div>
            <div class="col-auto">
                <ul class="list-group">
                    <li class="list-group-item">PhonePe</li>
                    <li class="list-group-item">PayTM</li>
                    <li class="list-group-item">CASH</li>                          
                  </ul>
            </div>                    
        </div>
        <div class="row">
            <div class="col-auto">
                <label><b>ENTER REGISTERED MOBILE NO :</b></label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" >
            </div>
        </div>
        <div class="submit">
            <button type="button" class="btn btn-primary">SUBMIT</button>
        </div>
    </div>
</div>
