<body>
    <div class="card">
        <h1><b>SNR HOSPITAL</b></h1> 
    </div>
    <div class="mainDiv">
    <div class="adminDiv">
        <button type="button" id="adminBtn" (click)="navigateAdmin()" class="btn btn-primary"><b>ADMIN LOGIN</b><img src="./assets/adminImg.jpg"></button>
    </div>
    <div class="patientDiv">
        <button type="button" id="patientBtn" class="btn btn-primary" (click)="navigatePatientPage()"><b>PATIENT LOGIN</b><img src="./assets/PatientLog.jpg"></button>
    </div>
    <div class="doctorDiv">
        <button type="button" (click)="navigateDoctor()" id="doctorBtn" class="btn btn-primary"><b>DOCTOR LOGIN</b><img src="./assets/doctorLogin.jpg"></button>
    </div>
</div>
</body>