<div class="patientId">
    <label><b>Enter Patient ID :</b></label>
    <input type="text" placeholder="Search by P_ID">
</div>
<div class="patientIdInfo">
    <label><b>P_ID:{{patientId}}</b></label>
</div>
<div class="patientTreatment">
    <div class="row">
        <div class="col-auto">
            <label><b>Patient Name : </b></label>
        </div>
        <div class="col-auto">
            patient Name
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <label><b>Treatment Name : </b></label>
        </div>
        <div class="col-auto">
            Treatment Name
        </div>
    </div>    
</div>
<div class="patientPrescription">
    <div class="row">
        <div class="col-auto">
            <label><b>Prescription: </b></label>
        </div>
        <div class="col-auto">
            patientPrescription
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <label><b>Remark : </b></label>
        </div>
        <div class="col-auto">
            Use at Bedtime
        </div>
    </div>    
</div>
<div class="patientAdvice">
    <div class="row">
        <div class="col-auto">
            <label><b>Advice: </b></label>
        </div>
        <div class="col-auto">
            patientPrescription
        </div>
    </div>   
</div>
<div class="footerBtn">
    <button type="submit">Edit Prescription</button>
</div>