.outer{  
    padding: 10px;
    background:linear-gradient(to top,rgb(30, 170, 60) 50%, rgb(168, 91, 133) 90%,rgb(30, 57, 88))no-repeat;
}
.header{
    margin-top: 0px;
    margin-left: 350px;
    width: 700px;
    height: 60px;
    align-items: center;
    background-color: #316BB0;
    border: 5px solid white;
    border-radius: 10px;
}
form{   
    width:40%;
    margin-left: 400px; 
}
h1{
    text-align: center;
    color: white;
   
}
.input-group{
    height: 35px;

}
.row span{
     padding: 10px; 
    background-color: white;  
    border-radius: 5px; 
}