<body>
    <main>
        <div class="display">
          <ng-container #container></ng-container>
        </div>    
    </main>
    <aside>
        <ul>
            <li (click)="createComponent()">Profile</li>
            <li (click)="BookAppointment()">Book Appointment</li>
            <li (click)="appointmentStatus()">Appointment Status</li>
            <li (click)="updateDetails()">Update Details</li>
            <li (click)="viewDoctor()">View Doctor</li>
            <li (click)="receiptPayment()">Receipt of Payment</li>
            <li (click)="logOut()" >Logout</li>
        </ul>      
    </aside>
  </body>
  
