main{
    position: absolute;
    margin-left: 20px;
    min-height: 100%;
    width:1115px;
    border:1px solid #000;
}
ul{
    position: absolute;
    width:16.8%;
    margin-left: 1135px;
    border:1px solid #000;
   
}
ul li{
    width: 113%;
    height: 50px;
    margin-left: -30px;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;   
}
ul li:not(){
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
ul li:hover{
    background-color: rgba(0,0,0,0.2);
}

