
<div class="patientIdDiv">
    <h4><b>Patient ID : {{patientId}}</b></h4>
</div>
<div class="patientRow">
    <div class="patientDetails">
        <div class="row">
            <div class="col-auto">
                <label><b>Name : </b></label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <label><b>DOB : </b></label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <label><b>Gender : </b></label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <label><b>Blood Group : </b></label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <label><b>Email : </b></label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <label><b>Address : </b></label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <label><b>Mobile no : </b></label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <label><b>PRIVATE/CGHS  : </b></label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" >
            </div>
        </div>
    </div>
    <div class="patientIdDetls">
        <img src=".\assets\DoctorsImg.png" alt="Image Description">
        <button type="button" class="btn btn-secondary">Browser</button>

    </div>
</div>
<div class="submitDiv">
    <button type="button" class="btn btn-primary">SUBMIT</button>
</div>
