
<h1>PAYMENT HISTORY</h1>
<div class="patientTable">
  <table>
      <thead>
      <tr>
          <th>DATE</th>
          <th>BILL NO</th>
          <th>DOCTOR'S NAME</th>
          <th>AMOUNT Fee</th>
          <th>STATUS</th>
          <th></th>               
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>aaa</td>
          <td>aaa</td>
          <td>aaa</td>
          <td>aaa</td>
          <td>aaa</td>
          <td><button (click)="navigateBill()">Open</button></td>
        
      </tr>
  </tbody>
  </table>
</div>
