
<div class="card">
    <div class="card-header">
        PAYMENT DETAILS
    </div>
    <div class="card-body">
        <div class="body-header">
            <label>Acceptted Card </label>                   
        </div>
        <div class="body-content">
            <div class="row">
                <div class="col-auto">
                    <label>Card Holder's Name </label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" >
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label>Card Number </label>
                </div>
                <div class="col-auto">
                    <div class="input-group">
                        <input type="number" aria-label="First name" class="form-control">
                        <input type="number" aria-label="Last name" class="form-control">
                        <input type="number" aria-label="First name" class="form-control">
                        <input type="number" aria-label="Last name" class="form-control">
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label>Expire Date </label>
                </div>
                <div class="col-auto">
                    <div class="expire">
                        <input type="number" class="form-control" >
                    </div>                            
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label>CVV </label>
                </div>
                <div class="col-auto">
                    <div class="cvv">
                        <input type="number" class="form-control" >
                    </div>                            
                </div>
            </div>
            <div class="btns">
                <button type="button" class="btn btn-primary">Cancle</button>
                <button type="button" class="btn btn-primary">CONTINUE</button>
            </div>
          
        </div>
    </div>
</div>

