<body>
    <main>
        <h1>BILL OF SUPPLY</h1>
        <div class="patientDetails">
            <div class="part1">
            <div class="row">
                <div class="col-auto">
                    <label><b>Mobile no</b></label>
                </div>
                <div class="col-auto"><b>:</b></div>
                <div class="col-auto"><b>aahkjhkhkjh</b></div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label><b>Patient Name</b></label>
                </div>
                <div class="col-auto"><b>:</b></div>
                <div class="col-auto"><b>aa</b></div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label><b>Age/Sex</b></label>
                </div>
                <div class="col-auto"><b>:</b></div>
                <div class="col-auto"><b>aa</b></div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label><b>Address</b></label>
                </div>
                <div class="col-auto"><b>:</b></div>
                <div class="col-auto"><b>aa</b></div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label><b>Referred By</b></label>
                </div>
                <div class="col-auto"><b>:</b></div>
                <div class="col-auto"><b>aa</b></div>
            </div>
        </div>
        <div class="part2">
            <div class="row">
                <div class="col-auto">
                    <label><b>Patient ID</b></label>
                </div>
                <div class="col-auto"><b>:</b></div>
                <div class="col-auto"><b>aa</b></div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label><b>Bill No</b></label>
                </div>
                <div class="col-auto"><b>:</b></div>
                <div class="col-auto"><b>aa</b></div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label><b>CGHS/PRIVATE</b></label>
                </div>
                <div class="col-auto"><b>:</b></div>
                <div class="col-auto"><b>aa</b></div>
            </div>
        </div>
        <div class="part3">
            <div class="row">
                <div class="col-auto">
                    <label><b>Bill Date</b></label>
                </div>
                <div class="col-auto"><b>:</b></div>
                <div class="col-auto"><b>aa</b></div>
            </div>
        </div>
    </div>
        <div class="billTable">
            <table>
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Service</th>
                        <th>Qty</th>
                        <th>Base Price(Rs.)</th>
                        <th>Tafiff Price(Rs.)</th>
                        <th>Discount</th>
                        <th>Net Amount(Rs.)</th>
                        <th>Tax Amt(Tax%)</th>
                        <th>Bill Amount(Rs.)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Akansha Rathi (ENT)</td>
                        <td>1</td>
                        <td>600.00</td>
                        <td>150.00</td>
                        <td>0.00</td>
                        <td>150.00</td>
                        <td></td>
                        <td>150.00</td>
                    </tr>
                    <tr>
                        <th colspan="5" style="text-align: right;">Total:</th>
                        <td>0.00</td>
                        <td>150.00</td>
                        <td>0.00</td>
                        <td>150.00</td>
                    </tr>
                                      
                    <tr>
                        <th colspan="7" style="text-align: right;">Paid by Patient : </th>
                        <td colspan="2">150.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="signature">
            <img src="\assets\visa.jpg">
        </div>
        <div class="footerBtns">
            <button type="button" class="btn btn-primary">Print</button>
            <button type="button" class="btn btn-primary">Download</button>
        </div>
    </main>
</body>