<h1>Patient Appointment Status</h1>
      <div class="patientTable">
        <table>
            <thead>
            <tr>
                <th>Patient Id</th>
                <th>Doctor Name</th>
                <th>Dept</th>
                <th>Consultant Fee</th>
                <th>Status</th>
                <th>Cancle</th>
                <th>Payment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>aaa</td>
                <td>aaa</td>
                <td>aaa</td>
                <td>aaa</td>
                <td>aaa</td>
                <td>aaa</td>
                <td>aaa</td>
            </tr>
        </tbody>
        </table>
      </div>
