<h1>Patient Appointment Status</h1>
      <div class="patientTable">
        <table>
            <thead>
            <tr>
                <th>Patient Id</th>
                <th>Doctor Name</th>
                <th>Department</th>
                <th>Consultant Fee</th>
                <th>Date</th>
                <th>Status</th>
                <th>Cancel Reson</th>
                <th>Payment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appDet of paginatedAppoint">
                <td>{{appDet.patient.patientID}}</td>
                <td>{{appDet.doctorName}}</td>
                <td>{{appDet.specialization}}</td>
                <td>{{appDet.consultantFee}}</td>
                <td>{{appDet.date}}</td>
                <td>{{appDet.status}}</td>
                <td>{{appDet.cancelReson}}</td>
                <td>{{appDet.paymentMethod}}</td>
            </tr>
        </tbody>
        </table>
        <div class="paginate">
            <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></app-pagination>
        </div>
      </div>
      