<h1>Doctor ID:{{doctorId}}</h1>
        <div class="doctorDetails">
            <div class="details">
                <div class="row">
                    <div class="col-auto">
                        <label><b>Name : </b></label>
                    </div>
                    <div class="col-auto">
                        {{doctorId}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <label><b>Age : </b></label>
                    </div>
                    <div class="col-auto">
                        {{doctorId}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <label><b>Gender : </b></label>
                    </div>
                    <div class="col-auto">
                        {{doctorId}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <label><b>Specialization : </b></label>
                    </div>
                    <div class="col-auto">
                        {{doctorId}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <label><b>Experience : </b></label>
                    </div>
                    <div class="col-auto">
                        {{doctorId}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <label><b>Language Spoke : </b></label>
                    </div>
                    <div class="col-auto">
                        {{doctorId}}
                    </div>
                </div>
            </div>
            <div class="doctorImg">
                <img src="\assets\doctorLogin.jpg">
            </div>
        </div>
        <div class="contact">
            <h2>Contact Details :-</h2>
            <div class="row">
                <div class="col-auto">
                    <label><b>Mobile No. : </b></label>
                </div>
                <div class="col-auto">
                    {{doctorId}}
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label><b>Email : </b></label>
                </div>
                <div class="col-auto">
                    {{doctorId}}
                </div>
            </div>
        </div>

        <div class="schedules">
            <h3>Schedule :-</h3>
            <div class="scheduleDays">
                <div class="day1">
                    <p>Monday</p>
                    <p>9:00AM - 12:00PM</p>
                </div>
                <div class="day2">
                    <p>Wednesday</p>
                    <p>2:00PM - 4:00PM</p>
                </div>
                <div class="day3">
                    <p>Friday</p>
                    <p>12:00PM - 3:00PM</p>
                </div>
            </div>
        </div>
    